body{
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, 
    rgba(215,200,203,1) 100%);  


}


.container {
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    padding: 20px; 
}

label{
    padding-left: 10px;
}
h1{
    text-align: center;
}